/* footer styles */
footer {
  text-align: center;
  width: 100%;
  background-color: #d3d3d3;
  padding: 20px;
}

.img-container {
  margin: 0.5rem;
}

footer p {
  margin: 20px;
}

footer a {
  text-decoration: none;
  color: black;
}
