/* header styles  */

/* logo styles */
.logo{
  display: flex;
  align-items: center;
}

.logo img {
width: 3%;
margin: 0 10px;
filter: invert(100%);
}

.logo .small {
  color: #606060;
  font-size: 20px;
  margin: 6px;
  padding-top: 8px;
  font-family: cursive;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  color: white;
  background-color: black;
  overflow: hidden;
  white-space: nowrap;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.8rem;
}

header nav {
  display: flex;
  gap: 35px;
}

.new-post{
  color: yellow;
  font-weight: 600;
  text-transform: uppercase;
}